snippet fm "Frontmatter for jamesapple.com" b
---
draft: ${1:true}
date: ${2:`date +%Y-%m-%d`}
tags: [${3:"js", "react"}]
headerImage: ${4:'./myimg.png'}
title: ${5:Understanding yield and blocks in Ruby}
path: /posts/${6:understanding-yield-and-blocks-in-ruby}
description: >
							${7:Description
							for the site}
---
endsnippet
