global !p
def classname_for_file():
    try:
        return ''.join(x.capitalize() or '_' for x in snip.basename.split('_'))
    except:
        return "ERR"

def classname_for_spec():
    try:
        return classname_for_file().replace('Spec', '')
    except:
        return "ERR"
endglobal
